.content {
  width: 100%;
  min-height: 100%;
  margin: 3em 0 2em 0;
  overflow: hidden;

  @include tablet {
    @include tabletSize();
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "info figure";
    min-height: calc(100vh - 3.5em);
    justify-items: center;
    align-items: center;
    margin-top: -2em;
  }

  @include desktop {
    @include desktopSize();
  }

  @import "./_content-info";
  @import "./_content-figure";
}
